{% extends 'todolist/main.html' %}
{% block content %}



<div class="header-bar">
    <div>
        <h1>Welcome back, {{request.user|title}}</h1> 

        <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}.</h3>
    </div>
    {% if request.user.is_authenticated %}
    <!-- <p>{{request.user}}</p> -->
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style=" margin-top: 20px; display: flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Search">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>

</div>




<div class="task-items-wrapper">
    {% for task in task_list %}
        <div class="task-wrapper">

            {% if task.complete %}
            <div class="task-title">
                    <div class="task-complete-icon"></div>
                    <i><a href="{% url 'task-update' task.id %}"><span class="outer"><span class="inner">{{task}}</span></span></a></i>
            </div>

            <form method="POST" action="{% url 'task-delete' task.id %}">
                {% csrf_token %}
                <input class="delete-button" type="submit" value="&#215"/>
            </form>

            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                 <a href="{% url 'task-update' task.id %}">{{task}}</a>
            </div>

            <form method="POST" action="{% url 'task-delete' task.id %}">
                {% csrf_token %}
                <input class="delete-button" type="submit" value="&#215"/>
            </form>

            {% endif %}
        </div>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</div>


{% endblock content %}
